main {
  width: 1366px;
  height: 823px;
}
main .tupian {
  width: 480px;
  height: 100%;
  background: url(../../img/zheceimgs/1.jpg);
  float: left;
}
main aside {
  width: 886px;
  height: 100%;
  background: #ffffff;
  position: relative;
  float: left;
}
main aside ul {
  margin-top: 20px;
  margin-left: 506px;
}
main aside ul li {
  height: 34px;
  background: #ffffff;
  font-size: 15px;
  color: #a4a4a4;
  line-height: 34px;
  float: left;
  padding-right: 40px;
}
main aside ul .li1 {
  width: 96px;
  background: url(../../img/zheceimgs/2.png) no-repeat;
}
main aside .huanyin {
  font-size: 41px;
  margin-left: 205px;
  margin-top: 111px;
}
main aside .meiyi {
  font-size: 28px;
  margin-top: 30px;
  margin-left: 204px;
}
main aside .meiyi a {
  font-size: 23px;
  color: #359eff;
  margin-left: 151px;
}
main aside #username {
  width: 457px;
  height: 50px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding-left: 21px;
  margin-top: 66px;
  margin-left: 203px;
}
main aside #password {
  width: 457px;
  height: 50px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding-left: 21px;
  margin-top: 30px;
  margin-left: 203px;
}
main aside #email {
  width: 457px;
  height: 50px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding-left: 21px;
  margin-top: 30px;
  margin-left: 203px;
}
main aside #phone {
  width: 457px;
  height: 50px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding-left: 21px;
  margin-top: 30px;
  margin-left: 203px;
}
main aside .zhaohui {
  font-size: 12px;
  color: #999999;
  position: absolute;
  top: 501px;
  left: 205px;
}
main aside .submit {
  width: 478px;
  height: 50px;
  background: #3587ff;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  margin-top: 59px;
  margin-left: 203px;
}
main aside .check {
  margin-left: 206px;
  margin-top: 40px;
}
main aside .check input {
  vertical-align: middle;
}
main aside .check span {
  font-size: 12px;
  color: #9f9f9c;
  vertical-align: middle;
}
